<label for="ageRating">ageRating</label>
<input class="form-control" name="ageRating" #ageRating="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.ageRating" readonly>
<br>
<label for="ageRatingGuide">ageRatingGuide</label>
<input class="form-control" name="ageRatingGuide" #ageRatingGuide="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.ageRatingGuide" readonly>
<br>
<label for="averageRating">averageRating</label>
<input class="form-control" name="averageRating" #averageRating="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.averageRating" readonly>
<br>
<label for="canonicalTitle">canonicalTitle</label>
<input class="form-control" name="canonicalTitle" #canonicalTitle="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.canonicalTitle" readonly>
<br>
<label for="coverImageTopOffset">coverImageTopOffset</label>
<input class="form-control" name="coverImageTopOffset" #coverImageTopOffset="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.coverImageTopOffset" readonly>
<br>
<label for="createdAt">createdAt</label>
<input class="form-control" name="createdAt" #createdAt="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.createdAt" readonly>
<br>
<label for="endDate">endDate</label>
<input class="form-control" name="endDate" #endDate="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.endDate" readonly>
<br>
<label for="episodeCount">episodeCount</label>
<input class="form-control" name="episodeCount" #episodeCount="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.episodeCount" readonly>
<br>
<label for="episodeLength">episodeLength</label>
<input class="form-control" name="episodeLength" #episodeLength="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.episodeLength" readonly>
<br>
<label for="favoritesCount">favoritesCount</label>
<input class="form-control" name="favoritesCount" #favoritesCount="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.favoritesCount" readonly>
<br>
<label for="nsfw">nsfw</label>
<input class="form-control" name="nsfw" #nsfw="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.nsfw" readonly>
<br>
<label for="popularityRank">popularityRank</label>
<input class="form-control" name="popularityRank" #popularityRank="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.popularityRank" readonly>
<br>
<label for="ratingRank">ratingRank</label>
<input class="form-control" name="ratingRank" #ratingRank="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.ratingRank" readonly>
<br>
<label for="showType">showType</label>
<input class="form-control" name="showType" #showType="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.showType" readonly>
<br>
<label for="slug">slug</label>
<input class="form-control" name="slug" #slug="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.slug" readonly>
<br>
<label for="startDate">startDate</label>
<input class="form-control" name="startDate" #startDate="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.startDate" readonly>
<br>
<label for="status">status</label>
<input class="form-control" name="status" #status="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.status" readonly>
<br>
<label for="subtype">subtype</label>
<input class="form-control" name="subtype" #subtype="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.subtype" readonly>
<br>
<label for="synopsis">synopsis</label>
<input class="form-control" name="synopsis" #synopsis="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.synopsis" readonly>
<br>
<label for="totalLength">totalLength</label>
<input class="form-control" name="totalLength" #totalLength="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.totalLength" readonly>
<br>
<label for="updatedAt">updatedAt</label>
<input class="form-control" name="updatedAt" #updatedAt="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.updatedAt" readonly>
<br>
<label for="userCount">userCount</label>
<input class="form-control" name="userCount" #userCount="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.userCount" readonly>
<br>
<label for="youtubeVideoId">youtubeVideoId</label>
<input class="form-control" name="youtubeVideoId" #youtubeVideoId="ngModel" 
[(ngModel)]="_animeservice.selectedAnime.youtubeVideoId" readonly>
<br>